/* generals */
textarea {
  resize: none;
}
#image-loader {
  position: fixed;
  width: 500px;
  height: 600px;
  margin: -300px auto auto -250px;
  top: 60%;
  left: 50%;
  text-align: center;
}

/* navbar panel costumize */
.navbar-expand .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
/* dreadnought table */
.dreadnought-table thead {
  background: #6e9fc4;
}

.dreadnought-table tfoot {
  background: #b3b3b3;
}

.dreadnought-table tbody tr {
  color: #404040;
}
/* END dreadnought table */
/* sortable list */
ul#sortable>li {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  background-color: #f1f1f1;
  border: 1px solid #c5c5c5;
}

span.list_right_section {
  position: absolute;
  right: 0;
  width: 600px;
  text-align: right;
  margin-right: 30px
}

span.free_space{
  margin-right: 10px;
  margin-left: 10px;
}
.fa-arrows-alt {
  cursor: pointer;
}
/* END sortable list */

/* sortable list actions */
.content_edit {
  color: rgb(79, 123, 218);
}

.content_edit:hover {
  color: aqua;
}

.edit {
  color: rgb(168, 168, 50);
}

.edit:hover {
  color: aqua;
}

.remove {
  color: red;
}

.remove:hover {
  color: aqua;
}
/* END sortable list actions */

#non-sortable tr:hover {
  background-color: #0094ff;
  color: #fff;
}
#non-sortable td {
  font-size: 1em;
  line-height: 1.1em;
  border: none !important;
}

table.table tbody td span {
  font-size: 8px;
}

table.table tbody td span i {
  font-size: 15px;
}

// background highlight for non-sortable/dataTable table
table.dreadnought-table tbody tr:nth-child(2n) td.sorting_1 {
  background: linear-gradient(to right, #e27d46, white);
}

// background highlight for sortable table
table.dreadnought-table tbody#sortable tr:nth-child(2n) {
  background: linear-gradient(to right, #e27d46, white);
}

.dropdown.hideOnMove {
  margin-top: -7px;
}

.dropdown-item:hover {
  background-color: #0094ff;
}

.actions {
  position: absolute;
}

/* page edit elements */
.page-edit-right-column {
  margin-top: 31px;
  border-left: #c9c9c9 solid 1px;
}

/* input stylize */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.editor-shadow {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
